.Nav {
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-family: 'Poppins', sans-serif;
}

.Buttons_container {
    display: flex;
    gap: 1.5rem;
}

.Button {
    display: flex;
    align-items: center;
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 20px;
    transform: 0.5s ease;
}

.Button:hover {
    border-bottom: 3px solid white;
}

@media (max-width: 768px) {
    .Nav {
        flex-direction: column;
    }
}