@keyframes fadeIn {
    0% {
        opacity: 0;
        scale: 25%;
    }
    100% {
        opacity: 1;
        scale: 100%;
    }
}

.About_Me {
    display: flex;
    color: white;
    font-size: 18px;
    align-items: center;
    text-align: left;
    width: 80%;
    font-family: 'Poppins', sans-serif;
    animation: fadeIn linear both;
    animation-timeline: view();
    animation-range: entry
}

.Title {
    font-size: 30px;
    line-height: 1;
    padding: 0;
    margin: 0;
    color: #DAB55A;
    font-family: 'Poppins', sans-serif;
}

.Tecnologias {
    display: flex;
    flex-direction: column;
    width: 80%;
}

.Iconos {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 2rem;
}

.IconContainer {
    width: 90px;
    height: 90px;
}

.IconExpress {
    background-color: white;
    width: 90px;
    height: 90px;
    border-radius: 50%;
}

@media (max-width: 768px) {
    .About_Me {
        flex-direction: column;
    }

    .ImagenAbout {
        height: auto;
        width: 100%;
    }

    .Tecnologias {
        width: 80%;
        margin-top: 2rem;
    }
}