.Proyects {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 648px;
    align-items: center;
    justify-content: center;
    margin-top: 11rem;
}

.Title {
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
}

.Container_Proyects {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    justify-content: center;
}

.Proyect {
    background-color: #333333;
    height: 20rem;
    width: 18rem;
}